
.task-container{
    width: 90%;
    height: 100%;
    margin: 0 auto;
    padding-top: 10px;
}
.task-name-info{
display: block;
width: 100%;
justify-content: center;
align-items: center;
text-align: center;
color: white;
}
.task-name{
    font-size: 26px;
    font-weight: bold;
}
.task-info{
    font-size: 16px;
}
.task-change-buttons{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 100%;
    background-color:#1E2C3A ;
    border-radius: 20px;
    margin-top: 10px;
}
.task-change-button{

    height: 30px;
    background-color: #1E2C3A;
    color: white;
    border: none;
    font-size: 20px;
    border-radius: 10px;
    width: 40%;
    text-align: center;
    justify-content: center;
    align-items: center;
    margin: 5px;
    padding: 0px 10px 0px 10px;
}

.task-change-button.active {
    background-color: #0E1621;
    color: white;
  }

  .task-list-item{
    display: flex;
    align-items: center;
    background-color: #1E2C3A;
    border-radius: 15px;
    margin-top: 5px;
    font-size: 12px;
  }
  
  .task-list{
    width: 100%;
    height: 100%;
    margin-top: 10px;
    margin-bottom: 100px;
    border-radius: 20px;
  }
  .task-info{
    width: 100%;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
  }

  .task-list-status-button{
    width: 100%;
    height: 100%;
    background-color: #5ddf6e;
    color: black;
    border: none;
    font-size: 20px;
    border-radius: 10px;
    text-align: center;
    justify-content: center;
    align-items: center;
    font-size: 16px;
  }
  .task-list-name{
    font-size: 14px;
    display: block;
    width: 100%;
  }

  .task-list-image-icon{
    font-size: 35px;
    color: #2AA2DC;
    margin-left: 10px;

  }
  .content{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    color: white;
    margin-top: 20px;
  }
  .content-images{
    margin-top: 20px !important;
  }
  .content-img{
    width: 50px;
  }
  .youtube-icon{
    width: 50px;
    padding-bottom: 7px;
  }
  .content-hr{
    width: 70%;
  }
  .content-text{
    text-align: center;
    display: block;
    width: 100%;
  }
  .content-span{
    font-size: 18px;
    display: block;
  }

  .upload-btn{
    width: 100%;
    height: 40px;
    background-color: #3873a7;
    color: white;
    border-radius: 15px;
    border: none;
    font-size: 22px;
  }

  .content-list{
    width: 90%;
    height: 100%;
    margin: 0 auto;
    padding-top: 10px;
    margin-top: 20px;
    text-align: start;
    font-size: 15px;
    font-weight: 500;
  }

  
  .content-information{
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 10px;
    border-radius: 20px;
    margin-top: 10px;
    background-color: #1E2C3A;
    margin-bottom: 100px;
  }